@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  direction: rtl;
  text-align: right;
}

html,
body,
:root {
  height: 100%;
  font-family: "El Messiri", sans-serif;
  direction: rtl;
  text-align: right;
  scroll-behavior: smooth;
}

@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 w-full max-w-[1280px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@theme {
  --color-primary: #ed7b21;
  --color-secondary: #2594c9;
  --color-primaryText: #393633;
  --color-primaryBorder: #e7e8eb;
  --color-background: #f4f4f4;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: invert(22%) sepia(7%) saturate(300%) hue-rotate(10deg) brightness(95%) contrast(90%);
}
input[type="date"] {
  direction: rtl;
  text-align: right;
}